@import "https://fonts.googleapis.com/css?family=Cabin Sketch";
@import "https://fonts.googleapis.com/css?family=Autour One";
@import "https://fonts.googleapis.com/css?family=Architects Daughter";
@import "https://fonts.googleapis.com/css?family=Finger Paint";
body{
    margin-right:0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-family: Autour One;
}

html {
    scroll-behavior: smooth;
}
  
.navbar-brand{
    font-family: Architects Daughter;
    font-size: 30px !important;
}

#homeContainer {
    background-image: url("/images/home.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

#aboutContainer {
    background-image: url("/images/about.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

#educationContainer {
    background-image: url("/images/education.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#portfolioContainer {
    background-image: url("/images/portfolio.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#contactContainer {
    background-image: url("/images/contact.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#aboutImageContainer {
    perspective: 20px;
}
  
#aboutImageInner {
width: 18.7em;
height: 18em;
background-image: url("/images/blob-shape.png");
background-size: cover;
border: 1px solid white;
border-radius: 10px;
background-position: center;
box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
transition: transform 0.5s;
-webkit-transition: transform 0.5s;
-moz-transition: transform 0.5s;
-o-transition: transform 0.5s;
}

.about-font-size {
    font-size: 19px;
}

.about-font-size a:hover {
    text-decoration: none;
    color: red;
}

.portfolio-project {
    background-image: url("/images/laptop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 10px;    
}

.portfolio-project-overlay {
    background-color: rgba(30, 243, 126, 0.863);
    width: 350px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-project a{
    color: black;
}

.portfolio-project a:hover {
    text-decoration: none;
}

.portfolio-project a:hover .portfolio-project-overlay {
    background-color: skyblue;
    opacity: 0.8;
}

.modal {
    background-color: transparent !important;
}

.modal-content {
    color: black !important;
}

.progress {
    border-radius: 50px;
}

.progress-bar {
    background:linear-gradient(to right,#283048,#859398) !important;
}